body
{
   background-color: #757575;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
}

div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
   overflow-y: hidden;
}
.dev {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  top: 15%;
  margin-left: 3%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.dev a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  top: 15%;
  margin-left: 35%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  cursor:pointer
}
.dev1 a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  top: 15%;
  margin-left: 60%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  cursor:pointer
}
.dev2 a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 9%;
  margin-left: 45%;
  font-size: 20px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.dev3 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev4 a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 20px;
  color: white;
  mix-blend-mode: hard-light;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px; 
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #4d4d4d;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://imena-vov.github.io/text/0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://imena-vov.github.io/text/0NIpQlx3QUlC5A4PNjXhFVZNyE.ttf) format('truetype');
}
body {
  background-color: #757575;
}
.wrapper
{
	width: 100%;
}
.parallax {
  position: fixed;
  left: -5px;
  top: -5px;
  height: auto;
  width: 105%;
  overflow: hidden;
  text-align: center;
}
.parallax h1 {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  font-weight: bold;
  text-transform: none;
  margin-top: 20px;
  font-size: 110px;
  margin-left: -240px;
  color: #eaeaea;
  mix-blend-mode: hard-light;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: -10px;
}
.parallax h2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 20px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  line-height: 1.3;
}
.parallax h3{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.parallax #fonimena {
	height: 105%;
    width: 105%;
 z-index: 1;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
.parallax #Dym {
  display: inline-block;
  height: 120%;
  width: 120%;
	z-index: 2;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
.text-center {
  text-align: center;
  width: 100%;
}
.text-left {
  text-align: left;
  width: 100%;
}
#imena1.jpg
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#hidden_block {
width: 400px;
height: 100px;
background: transparent;
opacity: 1;
position: fixed;
transition: top 0.3s;
}
#hidden_block2 {
width: 400px;
height: 100px;
background: transparent;
opacity: 1;
position: fixed;
transition: top 0.3s;
}

.zagolovok{
margin-top: 60px;
margin-left: 30px;
background: transparent;
opacity: 1;
transition: top 0.3s;
} 

.tooltip span{
    visibility: hidden;
    position: absolute;
    border-radius: 5px;	
    right: 70%;
	opacity: 0;
    transition: opacity 0.5s;
} 
.tooltip:hover span{
visibility: visible;
opacity: 1;
}
#PhotoGallery2 {
   position: absolute;
   top: 25%;
   width: 100%;

   overflow: hidden;
   visibility: hidden;
   opacity: 1;
}
#PhotoGallery3 {
   width: 500px;
   margin-left: 35%;
   text-align: left;
}
.blockNiz {
   width: 100%;
   height: 150px;
}
#preloader.gif
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
   .preloader{
          position: fixed;
		  background-color: #000000;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 99999;
   }
   .preloader > div{
          position: absolute;
		  left: 50%;
		  top: 50vh;
          margin: -120px 0 0 -90px;		  
	}
	
#toTop {
width:100px;
text-align:center;
padding:3px;
position:fixed;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
font-family:verdana;
font-size:14px;
}
a.button9 {
  display: inline-block;
  color: #303030;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button9:hover { background: rgba(255,255,255,.2); }

.button_ssylka {
	display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #834611 !important;
    border: 2px solid #84b4c6 !important;
    border-radius: 1px !important;
    font-size: 15px !important;
    padding: 5px 7px !important;
    border-color: #bb9050 !important;
    letter-spacing: 1px !important;
    font-weight: bold !important;	
    transition: all 0.5s ease !important;
}
.button_ssylka:hover{
    text-decoration: none !important; 
    background-color: #bb9050 !important;
    color: #ffeded !important;
    border-color: #834611 !important;
}