div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #757575;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
   overflow-y: hidden;
}

div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
.dev {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: -7%;
  margin-left: -12%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  @media (min-width: 1480px) and (max-width: 1679px) {
  margin-left: -23%;
  font-size: 22px;
  }
  @media (min-width: 1px) and (max-width: 1240px) {
  margin-left: -1%;
  font-size: 18px;
  }
  @media (min-width: 1680px) and (max-width: 1919px) {
  margin-left: -31%;
  font-size: 25px;
  }
  @media (min-width: 1920px) and (max-width: 2559px) {
  margin-left: -42%;
  font-size: 25px;
  }
  @media (min-width: 2560px) and (max-width: 15360px) {
  margin-left: -70%;
  font-size: 30px;
  }
}
.dev a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: -110px;
  margin-left: -115px;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  @media (min-width: 1px) and (max-width: 1240px) {
  margin-left: 0px;
  font-size: 18px;
  }
  @media screen and (min-width: 1480px) and (max-width: 1679px) {
  margin-left: -225px;
  font-size: 22px;
  }
  @media (min-width: 1680px) and (max-width: 1919px) {
  margin-left: -305px;
  font-size: 25px;
  }
  @media (min-width: 1920px) and (max-width: 2559px) {
  margin-left: -405px;
  font-size: 25px;
  }
  @media screen and (min-width: 2560px) and (max-width: 15360px) {
  margin-left: -680px;
  font-size: 30px;
  }
}
.dev2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 7%;
  margin-left: 45%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.dev2 a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dev3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 9%;
  margin-left: 45%;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 22222;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.dev3 a {
  opacity: 0.6;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://imena-vov.github.io/text/0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://imena-vov.github.io/text/0NIpQlx3QUlC5A4PNjXhFVZNyE.ttf) format('truetype');
}
body {
  background-color: #757575;
}
.wrapper
{
	width: 100%;
}
.parallax {
  position: fixed;
  left: -5px;
  top: -5px;
  height: auto;
  width: 101%;
  overflow: hidden;
  text-align: center;
}
.parallax h1 {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  font-weight: bold;
  text-transform: none;
  margin-top: 20px;
  font-size: 110px;
  margin-left: -240px;
  color: #eaeaea;
  mix-blend-mode: hard-light;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: -10px;
}
.parallax h2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 20px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  line-height: 1.3;
}
.parallax h3{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 18px;
  color: white;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -1px -1px 25px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}
.parallax #fonimena {
	height: 105%;
    width: 105%;
 z-index: 1;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.parallax #fonimena2 {
    margin-left: -260px;
    height: 150%;
    width: 155%;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
  @media (min-width: 1680px) and (max-width: 1919px) {
    width: 132%;
  }
  @media (min-width: 1920px) and (max-width: 15360px) {
    width: 112%;
  }
}

.parallax #fonimena3 {
    margin-left: -170px;
	margin-top: 10px;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
	@media screen and (min-width: 1px) and (max-width: 1199px) {
	margin-left: -150px;
	margin-top: 40px;
  }
	@media screen and (min-width: 1200px) and (max-width: 1279px) {
	margin-left: -170px;
	margin-top: -30px;
  }
	@media screen and (min-width: 1280px) and (max-width: 1479px) {
	margin-left: -150px;
	margin-top: 50px;
  }
	@media screen and (min-width: 1480px) and (max-width: 1679px) {
	margin-left: 0px;
	margin-top: 130px;
  }
	@media screen and (min-width: 1680px) and (max-width: 1919px) {
	margin-left: -100px;
	margin-top: 10px;
  }
    @media screen and (min-width: 1920px) and (max-width: 2047px) {
	margin-left: -100px;
	margin-top: 0;
  }
    @media screen and (min-width: 2048px) and (max-width: 2299px) {
	margin-left: -100px;
	margin-top: 30px;
  }
    @media screen and (min-width: 2300px) and (max-width: 2559px) {
	margin-left: 110px;
	margin-top: 100px;
  }
    @media screen and (min-width: 2560px) and (max-width: 15360px) {
	margin-left: 200px;
	margin-top: 150px;
  }
}

.parallax #fonimena3 .knigi1280 {
	display: none;
    pointer-events: none;
 @media screen and (min-width: 1px) and (max-width: 1679px) {
    display: block;
	pointer-events: visible;
	}
}

.parallax #fonimena3 .knigi {
	display: none;
    pointer-events: none;
 @media screen and (min-width: 1680px) and (max-width: 15360px) {
    display:block; 
	pointer-events: visible;
	}
}

.parallax #Dym {
  display: inline-block;
  height: 120%;
  width: 120%;
	z-index: 2;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
.text-center {
  text-align: center;
  width: 100%;
}
.text-left {
  text-align: left;
  width: 100%;
}
#imena1.jpg
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#preloader.gif
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
   .preloader{
          position: fixed;
		  background-color: #000000;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 99999;
   }
   .preloader > div{
          position: absolute;
		  left: 50%;
		  top: 50vh;
          margin: -120px 0 0 -90px;		  
	}
